.page {
  background-color: white;
  color: black;
  width: 80%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
  background-color: rgba(45, 81, 148, 255);
  color: rgba(190, 212, 241, 255);
}
